export(MCH0)
export(Stest)
export(precalculatedmatrices)
export(reduceXyfromAb)
export(rqaffineLASSO)
export(summaryStest)
export(ztfaql)

S3method(plot,Stest)
import(L1pack)
import(quantreg)
import(matlib)
import(CVXR)

importFrom("graphics", "axis", "lines", "matplot","hist")
